[defaults]
force_color = true
callback_result_format = yaml
check_mode_markers = true
bin_ansible_callbacks = true
callbacks_enabled = timer, profile_roles
inventory = inventory/localhost
collections_path = .ansible/collections
local_tmp = .ansible/tmp

[diff]
always = true

[galaxy]
cache_dir = .ansible/galaxy_cache

[privilege_escalation]
become_ask_pass = true
