[options]
HoldPkg     = pacman glibc
Architecture = auto
Color
CheckSpace
VerbosePkgLists
ParallelDownloads = 10
DownloadUser = alpm
ILoveCandy
SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional
DisableDownloadTimeout

[core]
Include = {{ mirrors_file }}

[extra]
Include = {{ mirrors_file }}

[multilib]
Include = {{ mirrors_file }}
