[options]
HoldPkg     = pacman glibc
Architecture = auto
Color
CheckSpace
VerbosePkgLists
ParallelDownloads = 10
DownloadUser = alpm
ILoveCandy
SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional
DisableDownloadTimeout

[core]
Include = ${PACMAN_MIRRORS_FILE}

[extra]
Include = ${PACMAN_MIRRORS_FILE}

[multilib]
Include = ${PACMAN_MIRRORS_FILE}
